.game-container {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#quit-room-btn {
    background-color: var(--main-button-background-color);
    border: 2px solid black;
    padding: 10px;
    margin-left: 85px;
    cursor: pointer;
    margin-bottom: 100px;
}

#ready-btn {
    background-color: var(--main-button-background-color);
    border: 2px solid black;
    padding: 75px;
    font-size: xxx-large;
    max-height: 30%;
    margin: auto;
    width: 50%;
}

#text-container {
    width: 50%;
    height: 70%;
    float: right;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 2% 10%;
    padding-top: 5%;
    font-size: xx-large;
}

#timer {
    font-size: 150px;
}

.game-room-info {
    float: left;
    width: 30%;
    height: 95%;
}

#user-name-span {
    display: inline-block;
}

.user {
    padding-left: 20px;
    margin-bottom: 30px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 20px 0px 10px;
}

.loading-bar {
    width: 90%;
    background: #cecece;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgb(131 125 217 / 50%);
    margin-top: 10px;
}

.loading-bar-progress {
    width: 1%;
    background: rgba(166, 245, 162);
    padding: 15px 0px 15px 0px;
    border-radius: 6px;
}

mark {
    background-color: lightgreen;
}