.rooms-container {
    width: 900px;
    height: 500px;
    background-color: var(--main-button-background);
}

.room {
    width: 300px;
    height: 300px;
    background-color: var(--main-button-background);
    border: 2px solid black;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}

h2 {
    margin-bottom: 100px;
    margin-top: 50px;
    padding-left: 45px;
}